Banque/src/main/webapp/wsdl/AccountBalance.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://accountSolde" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://accountSolde" xmlns:intf="http://accountSolde" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://accountSolde" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="transfert">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="val" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="transfertResponse">
    <complexType/>
   </element>
   <element name="getMoney">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMoneyResponse">
    <complexType>
     <sequence>
      <element name="getMoneyReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="pay">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="val" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="payResponse">
    <complexType>
     <sequence>
      <element name="payReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addClient">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addClientResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="transfertResponse">

      <wsdl:part element="impl:transfertResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addClientRequest">

      <wsdl:part element="impl:addClient" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addClientResponse">

      <wsdl:part element="impl:addClientResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="transfertRequest">

      <wsdl:part element="impl:transfert" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="payResponse">

      <wsdl:part element="impl:payResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMoneyRequest">

      <wsdl:part element="impl:getMoney" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="payRequest">

      <wsdl:part element="impl:pay" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMoneyResponse">

      <wsdl:part element="impl:getMoneyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AccountBalance">

      <wsdl:operation name="transfert">

         <wsdl:input message="impl:transfertRequest" name="transfertRequest">

       </wsdl:input>

         <wsdl:output message="impl:transfertResponse" name="transfertResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMoney">

         <wsdl:input message="impl:getMoneyRequest" name="getMoneyRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMoneyResponse" name="getMoneyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="pay">

         <wsdl:input message="impl:payRequest" name="payRequest">

       </wsdl:input>

         <wsdl:output message="impl:payResponse" name="payResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addClient">

         <wsdl:input message="impl:addClientRequest" name="addClientRequest">

       </wsdl:input>

         <wsdl:output message="impl:addClientResponse" name="addClientResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AccountBalanceSoapBinding" type="impl:AccountBalance">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="transfert">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="transfertRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="transfertResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMoney">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMoneyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMoneyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="pay">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="payRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="payResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addClient">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addClientRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addClientResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AccountBalanceService">

      <wsdl:port binding="impl:AccountBalanceSoapBinding" name="AccountBalance">

         <wsdlsoap:address location="http://localhost:8080/Banque/services/AccountBalance"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
